- State the null hypothesis: changing the power has no effect in the final result
- State the alternate hypothesis: changing the power has effect in the final result
- What is the significance level
- What are the degrees of freedom of model, error terms, and total DoF

In [39]:
import pandas as pd

In [40]:
ls

Cost of 1GB of Data.xlsx
Inferential statistics - T-test & P-value.xlsx
Lab | Inferential statistics - ANOVA.ipynb
Lab | Inferential statistics - T-test & P-value.ipynb
anova_lab_data.xlsx
anova_lab_data_copy.xlsx
machinetxt.txt
student_gpa.txt

In [41]:
df = pd.read_excel('anova_lab_data_copy.xlsx', sheet_name = 'data_collected')

In [42]:
df

    Power  Etching_Rate
0     160          5.43
1     180          6.24
2     200          8.79
3     160          5.71
4     180          6.71
5     200          9.20
6     160          6.22
7     180          5.98
8     200          7.90
9     160          6.01
10    180          5.66
11    200          8.15
12    160          5.59
13    180          6.60
14    200          7.55

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Power         15 non-null     int64
 1   Etching_Rate  15 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 368.0 bytes

In [44]:
import statsmodels.api as sm 
from statsmodels.formula.api import ols

In [45]:
model=ols('Etching_Rate ~ C(Power)',data=df).fit()

In [46]:
results_table=sm.stats.anova_lm(model)

In [47]:
results_table

            df     sum_sq   mean_sq          F    PR(>F)
C(Power)   2.0  18.176653  9.088327  36.878955  0.000008
Residual  12.0   2.957240  0.246437        NaN       NaN