In [2]:
import numpy as np
import pandas as pd

In [3]:
ls

Lab | Imbalanced data.ipynb  customer_churn.txt

In [4]:
df = pd.read_csv('customer_churn.txt', sep=" ", header=None, names=["a", "b", "c"])

In [6]:
df.head()

,a,b,c
0,"customerID,gender,SeniorCitizen,Partner,Depend...",NaN,NaN
1,"7590-VHVEG,Female,0,Yes,No,1,No,No",phone,"service,DSL,No,Yes,No,No,No,No,Month-to-month,..."
2,"5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Y...","year,No,Mailed","check,56.95,1889.5,No"
3,"3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,N...","check,53.85,108.15,Yes",NaN
4,"7795-CFOCW,Male,0,No,No,45,No,No",phone,"service,DSL,Yes,No,Yes,Yes,No,No,One"